//primary colors
$paple-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

//neutral colors
$white: hsl(0, 0%, 100%);
$slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white: hsla(0, 0%, 100%, 0.6);