:root {

    /*Cores do projeto*/
    --main-blue: hsl(233, 47%, 7%);
    --card-blue: hsl(244, 38%, 16%);
    --image-purple: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --paragraph-white: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    /*Fontes gerais*/
    --font-family-inter: 'Inter', sans-serif;
    --font-family-lexend: 'Lexend', sans-serif;
    --font-size: 15px;
    --font-weight-light: 400;
    --font-weight-inter: 700;
}