$orang-card: rgb(227, 136, 38);
$blue-card: rgb(0, 105, 112);
$blue-dark-card: rgb(0, 66, 65);
$white: rgba(255, 255, 255, 0.75);
$light-gray: rgb(242, 242, 242);

@mixin family-big {
    font-family: 'Big Shoulders Display', cursive;
}

@mixin family-lexend {
    font-family: 'Lexend Deca', sans-serif;
}